.container {
    margin-top: 0;
    margin-left: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url("PokemonBG.jpg");
    min-height: 100%;
    height: 404px;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.logoDiv {
    display: flex;
    padding-top: 20px;
    padding-left: 74px;
    max-width: 220px;
}

.logo {
    height: 45px;
}

.logoText {
    font-size: 21px;
    font-weight: bold;
    padding-left: 12px;
    margin-top: 16px;
    color: rgb(6, 54, 25);
}

.topNav {
    padding-right: 46px;
    padding-top: 38px;
}

.topNav a {
    text-decoration: none;
    padding: 6px;
    font-weight: bold;
    font-size: 12px;
    color: rgb(6, 54, 25);
}

.welcomeDiv {
    font-weight: bold;
    float: right;
    margin-right: 70px;
}

.welcomeDiv h1 {
    font-size: 48px;
    letter-spacing: -3px;
    color: rgb(6, 54, 25);
}

.welcomeDiv p {
    padding-left: 96px;
    font-size: 14px;
    color: rgb(6, 54, 25);
}

.btnView {
    padding: 18px 42px;
    border-radius: 30px;
    border-style: solid;
    margin-top: 8px;
    margin-left: 188px;
    color: white;
    font-size: 12px;
    background: rgb(63, 92, 209);
    background: -moz-linear-gradient(90deg, rgba(63, 92, 209, 1) 64%, rgba(63, 96, 185, 1) 66%, rgba(64, 101, 159, 1) 68%, rgba(65, 106, 134, 1) 70%, rgba(67, 124, 35, 1) 72%);
    background: -webkit-linear-gradient(90deg, rgba(63, 92, 209, 1) 64%, rgba(63, 96, 185, 1) 66%, rgba(64, 101, 159, 1) 68%, rgba(65, 106, 134, 1) 70%, rgba(67, 124, 35, 1) 72%);
    background: linear-gradient(90deg, rgba(63, 92, 209, 1) 64%, rgba(63, 96, 185, 1) 66%, rgba(64, 101, 159, 1) 68%, rgba(65, 106, 134, 1) 70%, rgba(67, 124, 35, 1) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5cd1", endColorstr="#437c23", GradientType=1);
}

.main {
    background: #fff;
}

.history {
    color: rgb(6, 54, 25);
    text-align: center;
    font-size: 42px;
    margin-top: 68px;
}

.one,
.two,
.three,
.four {
    display: flex;
}

.main img {
    height: 46px;
    margin-top: 40px;
}

.year p {
    font-weight: bold;
    font-size: 44px;
    margin-top: 36px;
}

.main h3 {
    margin-top: 0px;
    font-size: 28px;
}

.green {
    color: rgb(149, 223, 149) 5px solid;
}

.one {
    border-left: rgb(149, 223, 149) 5px solid;
    margin-left: 62px;
}

.imgOne {
    margin-left: 40px;
    margin-right: 2px;
}

.paragraphOne {
    margin-left: 34px;
    padding-right: 62px;
    margin-top: 10px;
}

.pOne {
    font-weight: bold;
}

.two {
    margin-left: 62px;
    margin-top: 16px;
    border-right: purple 5px solid;
    margin-right: 62px;
}

.yearTwo {
    margin-right: 40px;
}

.paragraphTwo {
    margin-right: 34px;
}

.imgTwo {
    margin-right: 2px;
}

.pTwo {
    font-weight: bold;
}

.three {
    border-left: rgb(201, 207, 148) 5px solid;
    margin-left: 62px;
}

.imgThree {
    margin-left: 40px;
    margin-right: 2px;
}

.paragraphThree {
    margin-left: 34px;
    padding-right: 62px;
    margin-top: 10px;
}

.pThree {
    font-weight: bold;
}

.four {
    margin-left: 62px;
    margin-top: 16px;
    border-right: rgb(182, 43, 19) 5px solid;
    margin-right: 62px;
}

.paragraphFour {
    margin-right: 34px
}

.imgFour {
    margin-right: 2px;
}

.yearFour {
    margin-right: 40px;
}

.foot {
    color: rgb(6, 6, 100);
    font-weight: bold;
    text-align: center;
}

.scroll {
    background-color: #fff;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}